<div id="navbar">
    <nav class="pb-10">
        <!-- Desktop Menu -->
        <div class="bg-black">
            <div class="max-w-7xl mx-auto">
                <div class="flex justify-between">
                    <!-- menu -->
                    <div class="flex space-x-4">
                        <!-- logo -->
                        <a routerLink="" class="flex items-center py-1">
                            <img src="../../assets/images/yanosik-logo-desktop.png" class="hidden md:flex max-h-16 ml-2"
                                alt="Desktop logo" />
                            <img src="../../assets/images/yanosik-logo-mobile.png"
                                class="hidden fold:flex md:hidden max-h-10 ml-2 my-3" alt="Mobile logo" />
                        </a>
                        <!-- Kontakt -->
                        <a routerLink="/kontakt"
                            class="hidden md:flex items-center px-2 hover:bg-red-500 text-white ">Kontakt</a>
                        <!-- Sklep -->
                        <a routerLink="/sklep"
                            class="hidden md:flex items-center px-2 hover:bg-red-500 text-white ">Sklep</a>
                    </div>
                    <!-- login / register -->
                    <div *ngIf="!isAutheniticated; else userIsAuthenticated"
                        class="hidden xs:flex items-center px-2 my-2 space-x-2 mr-2">
                        <a *ngIf="toggleMobileMenu" routerLink="/logowanie"
                            class="duration-300 py-2 px-4 rounded-full text-white font-bold border-2 border-green-500 hover:bg-green-500">
                            Logowanie</a>
                        <a *ngIf="toggleMobileMenu" routerLink="/rejestracja"
                            class="duration-300 py-2 px-4 rounded-full text-white font-bold border-2 border-red-500 hover:bg-red-500">
                            Rejestracja</a>
                    </div>
                    <ng-template #userIsAuthenticated>
                        <div
                            class="flex items-center px-2 my-2 space-x-2 mr-2">
                            <a *ngIf="toggleMobileMenu" routerLink="/profil"
                                class="hidden xs:flex duration-300 py-2 px-4 rounded-full text-white font-bold border-2 border-green-500 hover:bg-green-500">
                                {{ userName }}</a>
                            <a *ngIf="toggleMobileMenu" routerLink="/wyloguj"
                                class="hidden ss:flex duration-300 py-2 px-4 rounded-full text-white font-bold border-2 border-red-500 hover:bg-red-500">
                                Wyloguj</a>
                        </div>
                    </ng-template>
                    <!-- button show mobile menu -->
                    <div class="flex md:hidden items-center my-3.5 mr-2">
                        <button class="py-0" (click)="showMobileMenu()">
                            <img src="../../assets/images/menu_icon.png" class="max-h-10" alt="Menu icon" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu -->
        <div class="flex md:hidden" [ngClass]="{'hidden' : toggleMobileMenu}">
            <div class="bg-black w-full">
                <!-- Kontakt -->
                <a routerLink="/kontakt" class="items-center text-white">
                    <div class="hover:bg-red-500 duration-300 p-4 border-t border-red-600">
                        Kontakt
                    </div>
                </a>
                <!-- Sklep -->
                <a routerLink="/sklep" class="items-center text-white">
                    <div class="hover:bg-red-500 duration-300 p-4 border-t border-red-600">
                        Sklep
                    </div>
                </a>
                <div *ngIf="!isAutheniticated else userIsAuthenticatedMobile"
                    class="py-6 space-y-2 border-t border-red-600 text-center">
                    <a routerLink="/logowanie"
                        class="block duration-300 py-3 px-4 mx-2 max-w-xs rounded-full text-white font-bold border-2 border-green-500 hover:bg-green-500">
                        Logowanie</a>
                    <a routerLink="/rejestracja"
                        class="block duration-300 py-3 px-4 mx-2 max-w-xs rounded-full text-white font-bold border-2 border-red-500 hover:bg-red-500">
                        Rejestracja</a>
                </div>
                <ng-template #userIsAuthenticatedMobile>
                    <div class="py-6 space-y-2 border-t border-red-600 text-center">
                        <a routerLink="/profil"
                            class="block duration-300 py-3 px-4 mx-2 max-w-xs rounded-full text-white font-bold border-2 border-green-500 hover:bg-green-500">
                            {{ userName }}</a>
                        <a routerLink="/wyloguj"
                            class="block duration-300 py-3 px-4 mx-2 max-w-xs rounded-full text-white font-bold border-2 border-red-500 hover:bg-red-500">
                            Wyloguj</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </nav>
</div>