<div id="navbar">
    <nav class="pb-10">
        <!-- Desktop Menu -->
        <div class="border-b-2 border-lime-700 bg-black">
            <div class="max-w-7xl mx-auto">
                <div class="flex justify-between">
                    <!-- menu -->
                    <div class="flex space-x-4">
                        <!-- logo -->
                        <a routerLink="" class="flex items-center py-1">
                            <img src="../../assets/images/yanosik-logo-desktop.png" class="max-h-16 ml-2"
                                alt="Desktop logo" />
                        </a>
                        <!-- menu -->
                        <div class="hidden md:flex items-center px-2">
                            <a routerLink="/kontakt" class="py-0 px-4 text-white">Kontakt</a>
                        </div>
                    </div>
                    <!-- login / register -->
                    <div class="invisible flex items-center px-2 my-2 space-x-2" :class="{ hidden: !showMobileMenu }">
                        <a href="/"
                            class="duration-300 py-2 px-4 rounded-full text-black font-bold border-2 border-green-500 hover:bg-green-500">
                            Login</a>
                        <a href="/"
                            class="duration-300 py-2 px-4 rounded-full text-black font-bold border-2 border-red-500 hover:bg-red-500">
                            Register</a>
                    </div>
                    <!-- button show mobile menu -->
                    <!-- <div class="md:hidden flex items-center">
                        <button @click="showMobileMenu = !showMobileMenu" class="py-0 px-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                            </svg>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Mobile Menu -->
        <!-- <div class="md:hidden border-b-2 border-lime-700" :class="{ hidden: showMobileMenu }">
            <router-link :to="{ name: 'MainPage' }" class="block mx-4 my-4 hover:text-green-500 font-bold">Home
            </router-link>
            <router-link to="/" class="block mx-4 my-4 hover:text-green-500">About</router-link>
            <router-link to="/" class="block mx-4 my-4 hover:text-green-500">Contact</router-link>
            <div class="py-4 space-x-2 mx-4">
                <router-link :to="{ name: 'LoginPage' }"
                    class="duration-300 py-2 px-4 rounded-full text-black font-bold border-2 border-green-500 hover:bg-green-500">
                    Login</router-link>
                <router-link :to="{ name: 'RegisterPage' }"
                    class="duration-300 py-2 px-4 rounded-full text-black font-bold border-2 border-red-500 hover:bg-red-500">
                    Register</router-link>
            </div>
        </div> -->
    </nav>
</div>