<div class="max-w-7xl mx-auto">
    <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-teal-900 px-4 py-3 shadow-md m-4" role="alert">
        <div class="flex">
            <p class="font-bold my-auto">Czy na pewno chcesz się wylogować?</p>
            <button
                class="flex duration-300 py-2 px-4 ml-4 rounded-full text-white font-bold hover:text-black border-2 border-red-500 bg-red-500"
                (click)="logout()">
                TAK
            </button>
        </div>
    </div>